body {
    background: linear-gradient(135deg, #03173d, #070439);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .list-group {
    margin-top: 20px;
  }
  
  .btn:hover {
    cursor: pointer;
  }
  
  .list-group-item {
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .list-group-item:hover {
    background-color: #f4f4f4;
  }
  